
01-Python-File-Handling/.idea/01-Python-File-Handling.iml
01-Python-File-Handling/.idea/inspectionProfiles/profiles_settings.xml
01-Python-File-Handling/.idea/misc.xml
01-Python-File-Handling/.idea/modules.xml
01-Python-File-Handling/.idea/vcs.xml
01-Python-File-Handling/.idea/discord.xml
01-Python-File-Handling/.idea/discord.xml
